/* components/Header.module.css */
.header {
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    height: 4rem;
}

/* Кнопка меню скрыта на больших экранах */
.menuButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.menuButtonHide {
    display: none; /* Скрыть кнопку на больших экранах */
}

/* Показать кнопку на маленьких экранах */
@media (max-width: 767px) {
    .menuButtonHide {
        display: inline; /* Показать кнопку на маленьких экранах */
    }
}

@media (min-width: 1024px) {
    .menuButton {
        display: none; /* Скрываем кнопку меню на больших экранах */
    }
}
